body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Imposta l'altezza della vista al 100% */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Colore di sfondo chiaro */
}

h1 {
    margin-bottom: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; /* Larghezza del campo di input al 100% */
    box-sizing: border-box; /* Include padding e border nel calcolo della larghezza */
}

button {
    padding: 10px;
    background-color: #5cb85c; /* Colore del pulsante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c; /* Colore del pulsante al passaggio del mouse */
}
